body{
    background-color: azure;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 250px;
}